<div class="card" as-sortable-item-handle>
  <div class="id-box">{{$ctrl.currentItem.title}}</div>
  <div class="small-des">{{$ctrl.currentItem.details}}</div>
  <div class="card-taskbar">
    <div class="taskbar-icons">
      <div class="taskbar-icons-container">
        <div class="profile-task">
          <img src="../../../images/profile.jpg" alt="" style="width:inherit;">
        </div>
        <a href="#" class="type-options task-type-info" style="font-size:19px">
                <span class="icon-bug">
                  <span class="path1"></span>
                  <span class="path2"></span>
                </span>
        </a>
      </div>
    </div>
  </div>
</div>
