<div class="epic">
  <div class="phase-info-container">
    <a href="#" class="link-a">
      <span class="icon-phase-info"></span>
    </a>
    <a href="#" class="link-a">
      <span class="icon-phase-type"></span>
    </a>
  </div>
  <div class="phase-name">{{$ctrl.currentItem.title}}</div>
  <div class="progress-container">
    <div class="progress-status">20/30 task completed</div>
    <div class="progress-bg">
      <div class="progress-bar"></div>
    </div>
  </div>
  <div class="clm-divide">
    <div class="start-date">Start date:</div>
    <div class="start-date-info">Dec 17, 2017</div>
  </div>
  <div class="clm-divide">
    <div class="start-date">Due date:</div>
    <div class="start-date-info">Feb 20, 2017</div>
  </div>
  <div class="clm-divide2">
    <div class="start-date">Assigned to:</div>
    <div class="profile"><img src="../../../images/profile.jpg" width="30" height="30" alt=""/></div>
    <div class="profile"><img src="../../../images/profile.jpg" width="30" height="30" alt=""/></div>
    <div class="profile"><img src="../../../images/profile.jpg" width="30" height="30" alt=""/></div>
    <div class="profile"><img src="../../../images/profile.jpg" width="30" height="30" alt=""/></div>
    <div class="add-profile"><img src="../../../images/add.svg" alt="" class="add"/></div>
  </div>
</div>
<div class="phase-divider"></div>
